* 作業目標：
  1. 敘述統計量計算
  2. 運用自定義函數apply

* 作業重點：
  1. 了解敘述統計量並解釋
  2. 運用apply時須注意自定義函數寫法

* 題目
  【進階13】<br>
   對以下成績資料做分析
   1. 6號學生(student_id=6)3科平均分數為何?
   2. 6號學生3科平均分數是否有贏過班上一半的同學?
   3. 由於班上同學成績不好，所以學校統一加分，加分方式為開根號乘以十，請問6號同學3科成績分別是?
   4. 承上題，加分後各科班平均變多少?

   ```
   score_df = pd.DataFrame([[1,56,66,70], 
              [2,90,45,34],
              [3,45,32,55],
              [4,70,77,89],
              [5,56,80,70],
              [6,60,54,55],
              [7,45,70,79],
              [8,34,77,76],
              [9,25,87,60],
              [10,88,40,43]],columns=['student_id','math_score','english_score','chinese_score'])
   ```

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

print( 'Numpy 版本: ', np.__version__ )
print( 'Pandas 版本: ', pd.__version__ )

Numpy 版本:  1.19.2
Pandas 版本:  1.1.3

* 【基礎13】

In [2]:
score_df = pd.DataFrame( [[1,56,66,70], 
                          [2,90,45,34],
                          [3,45,32,55],
                          [4,70,77,89],
                          [5,56,80,70],
                          [6,60,54,55],
                          [7,45,70,79],
                          [8,34,77,76],
                          [9,25,87,60],
                          [10,88,40,43]], columns=['student_id','math_score','english_score','chinese_score'] )

score_df = score_df.set_index('student_id')
score_df

            math_score  english_score  chinese_score
student_id
1                   56             66             70
2                   90             45             34
3                   45             32             55
4                   70             77             89
5                   56             80             70
6                   60             54             55
7                   45             70             79
8                   34             77             76
9                   25             87             60
10                  88             40             43

In [3]:
# 6號學生(student_id=6)3科平均分數為何? 
score_df.mean( axis=1 ).loc[6]

56.333333333333336

In [4]:
# 6號學生3科平均分數是否有贏過班上一半的同學? 
sum( score_df.mean(axis=1).loc[6] > score_df.mean(axis=1) ) > score_df.shape[0]/2

False

In [5]:
# 由於班上同學成績不好，所以學校統一加分，加分方式為開根號乘以十，請問6號同學3科成績分別是?

score_df2 = score_df.apply( lambda x: x**(0.5)*10, axis=1 )
score_df2.loc[6]

math_score       77.459667
english_score    73.484692
chinese_score    74.161985
Name: 6, dtype: float64

In [6]:
# 承上題，加分後各科班平均變多少?

score_df2.mean()

math_score       74.194221
english_score    78.350301
chinese_score    78.739928
dtype: float64