<img width=150 src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/NumPy_logo.svg/200px-NumPy_logo.svg.png"></img>

* 教學目標
  * 正確的從 DataFrame 中插入或刪除資料
  * 正確的對 DataFrame 進行合併與重組
  * 了解 DataFrame 中合併的方法差異

In [1]:
# 載入 NumPy, Pandas 套件
import numpy as np
import pandas as pd

# 檢查正確載入與版本
print(np)
print(np.__version__)
print(pd)
print(pd.__version__)

<module 'numpy' from 'D:\\anaconda3\\lib\\site-packages\\numpy\\__init__.py'>
1.19.2
<module 'pandas' from 'D:\\anaconda3\\lib\\site-packages\\pandas\\__init__.py'>
1.1.3

# 【基礎13】

### 從 DataFrame 中插入或刪除資料

* 新增欄位

In [2]:
df = pd.DataFrame([[1], [2]], columns = ['a'])
print(df)

print('='*20)
df['b'] = pd.Series([3, 4])
print(df)

   a
0  1
1  2
====================
   a  b
0  1  3
1  2  4

* 新增資料

In [3]:
df = pd.DataFrame([[1, 2]], columns = ['a', 'b'])
print(df)

print('='*20)
df = df.append(pd.DataFrame([[3, 4]], columns = ['a', 'b']))
print(df)

   a  b
0  1  2
====================
   a  b
0  1  2
0  3  4

* 新增資料 + 調整 index

In [5]:
df = pd.DataFrame([[1, 2]], columns = ['a', 'b'])
print(df)

print('='*20)
df = df.append(pd.DataFrame([[3, 4]], columns = ['a', 'b']))
df = df.reset_index(drop=True)
print(df)

   a  b
0  1  2
====================
   a  b
0  1  2
1  3  4

* 刪除欄位

In [6]:
df = pd.DataFrame([[1, 2, 3]], columns = ['a', 'b', 'c'])
print(df)

print('='*20)
del df['a']
df.pop('c')

   a  b  c
0  1  2  3
====================

0    3
Name: c, dtype: int64

* 刪除資料

In [7]:
df = pd.DataFrame([[1], [2]], columns = ['a'])
print(df)

print('='*20)
df = df.drop(1)
print(df)

   a
0  1
1  2
====================
   a
0  1

### DataFrame 的合併與重組

* Concat

In [10]:
one = pd.DataFrame({
    'id':[1, 2],
    'Name': ['Alex', 'Amy'],
})
two = pd.DataFrame({
    'id':[1, 2],
    'Name': ['Bob', 'Tom']
})

pd.concat([one, two])

   id  Name
0   1  Alex
1   2   Amy
0   1   Bob
1   2   Tom

In [11]:
one = pd.DataFrame({
    'id':[1, 2],
    'Name': ['Alex', 'Amy'],
})
two = pd.DataFrame({
    'id':[1, 2],
    'Name': ['Bob', 'Tom']
})

pd.concat([one, two]).reset_index(drop=True)

   id  Name
0   1  Alex
1   2   Amy
2   1   Bob
3   2   Tom

* Merge

In [13]:
one = pd.DataFrame({
    'id':[1, 2],
    'Name': ['Alex', 'Amy'],
})
two = pd.DataFrame({
    'id':[1, 2],
    'Score': [98, 60]
})

pd.merge(one, two, on='id')

   id  Name  Score
0   1  Alex     98
1   2   Amy     60

* Join

In [14]:
one = pd.DataFrame({
    'Name': ['Alex', 'Amy'],
})
two = pd.DataFrame({
    'Score': [98, 60]
})

one.join(two)

   Name  Score
0  Alex     98
1   Amy     60

* Group By

In [9]:
df = pd.DataFrame({
  'A' : ['foo', 'bar', 'foo', 'bar'],
  'B' : ['one', 'one', 'two', 'three'],
  'C' : [1,2,3,4],
  'D' : [10, 20, 30, 40]
})

print( df.groupby('A').sum() )
print('='*20)
print( df.groupby('A').agg(sum) )
print('='*20)
print( df.groupby(['A','B']).sum() )

     C   D
A
bar  6  60
foo  4  40
====================
     C   D
A
bar  6  60
foo  4  40
====================
           C   D
A   B
bar one    2  20
    three  4  40
foo one    1  10
    two    3  30